.Pause {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.controls-container {
  padding: 1rem;
  border: 2px solid white;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-family: Supercharge;
  text-align: center;
}

.controls-container > div {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 1rem;
}

.controls-img {
  border-radius: 10px;
}

.keys {
  width: 70px;
  height: auto;
}

.space {
  width: 325px;
  height: auto;
}
