.ScoreBoard {
  width: inhreit;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.sb-header {
  display: flex;
  justify-content: space-between;
  font-family: SuperCharge;
}

.sb-table {
  flex: 1;
  border: 2px solid white;
  gap: 1rem;
}

.user-card {
  display: flex;
  gap: 1rem;
  border-bottom: solid 1px white;
  padding: 1rem;
  font-family: SuperCharge;
}

.user-card-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
